<div class="table-responsive">
    <button mat-icon-button (click)="open(null)">
        <mat-icon>add</mat-icon>
    </button>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let o">
                <span *ngIf="o._links">{{o._links.self.href.split('/').splice(-1)}} </span> </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> 名称 </th>
            <td mat-cell *matCellDef="let o">

                <mat-form-field *ngIf="o.edit||o.new">
                    <!-- <mat-label>请输入</mat-label> -->
                    <input matInput [(ngModel)]='o.authority'>
                </mat-form-field>

                <span *ngIf="!(o.edit||o.new)"> {{o.authority}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> 地址 </th>
            <td mat-cell *matCellDef="let o">
                <mat-form-field *ngIf="o.edit||o.new">
                    <!-- <mat-label>请输入</mat-label> -->
                    <input matInput [(ngModel)]='o.uri'>
                </mat-form-field>

                <span *ngIf="!(o.edit||o.new)"> {{o.uri}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="method">
            <th mat-header-cell *matHeaderCellDef> 方法 </th>
            <td mat-cell *matCellDef="let o">
                <mat-form-field *ngIf="o.edit||o.new">
                    <!-- <mat-label>请输入</mat-label> -->
                    <mat-select [(value)]="o.method">
                        <mat-option value="GET">GET</mat-option>
                        <mat-option value="PUT">PUT</mat-option>
                        <mat-option value="PATCH">PATCH</mat-option>
                        <mat-option value="POST">POST</mat-option>
                        <mat-option value="DELETE">DELETE</mat-option>
                    </mat-select>
                </mat-form-field>

                <span *ngIf="!(o.edit||o.new)"> {{o.method}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef> 权限 </th>
            <td mat-cell *matCellDef="let o">
                <mat-form-field *ngIf="o.edit||o.new">
                    <!-- <mat-label>请输入</mat-label> -->
                    <mat-select [(value)]="o.permission">
                        <mat-option value="ANONYMOUSE">匿名访问</mat-option>
                        <mat-option value="AUTHENTICATED">认证资源</mat-option>
                        <mat-option value="RESTRICT">授权资源</mat-option>
                        <mat-option value="DENY">不可访问</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="!(o.edit||o.new)"> {{o.permission}}</span>
            </td>
        </ng-container>


        <ng-container matColumnDef="client_id">
            <th mat-header-cell *matHeaderCellDef> client_id </th>
            <td mat-cell *matCellDef="let o">
                <mat-form-field *ngIf="o.edit||o.new">
                    <!-- <mat-label>请输入</mat-label> -->
                    <input matInput [(ngModel)]='o.clientId'>
                </mat-form-field>

                <span *ngIf="!(o.edit||o.new)"> {{o.uri}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef> 操作 </th>
            <td mat-cell *matCellDef="let o;let i=index">
                <ng-container *ngIf="!(o.edit||o.new)">
                    <button mat-icon-button color='primary' (click)="open(o);">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color='warn' (click)="delete(o)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>

                <ng-container *ngIf="o.edit||o.new">
                    <button mat-icon-button color='primary' (click)="save(o,i)">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button color='primary' (click)="cancel(o,i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>

        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
</div>


<mat-paginator class='paginator' [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons (page)="pageChange($event);">
</mat-paginator>