<div style="margin: 10px;">
  <button mat-icon-button (click)="addNewItem(null)">
    <mat-icon>add</mat-icon>
  </button>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent;" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <mat-label>名称</mat-label>
        <input matInput [(ngModel)]="flatNodeMap.get(node).name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="flatNodeMap.get(node).url">
      </mat-form-field>
      <button mat-button (click)="saveNode(node)">保存</button>
      <button mat-button (click)="cancelNode(node)">取消</button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding>
      <button *ngIf="node.expandable" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <button *ngIf="!node.expandable" mat-icon-button disabled [attr.aria-label]="'Toggle ' + node.item">
      </button>
      <ng-container *ngIf="node.action!='edit'; else elseTemplate">
        <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggle(node)">{{flatNodeMap.get(node).id+node.item+flatNodeMap.get(node).url}}
        </mat-checkbox>
        <button mat-icon-button (click)="addNewItem(node)">
          <mat-icon>add</mat-icon>
        </button>
        <input matInput hidden #edit>
        <button mat-icon-button (click)=" node.action='edit';">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!node.expandable" (click)="deleteItem(node);">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>

      <ng-template #elseTemplate>
        <mat-form-field>
          <mat-label>名称</mat-label>
          <input matInput [(ngModel)]="flatNodeMap.get(node).name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>URL</mat-label>
          <input matInput [(ngModel)]="flatNodeMap.get(node).url">
        </mat-form-field>
        <button mat-button (click)="saveNode(node);node.action='';">保存</button>
        <button mat-button (click)="node.action='';">取消</button>
      </ng-template>
    </mat-tree-node>
  </mat-tree>
</div>