<mat-drawer-container class="rightcontent" *ngIf="isLogin">
  <mat-drawer class="example-container" #drawer mode="side" opened="true">
    <li class="logo">
      <img src="../assets/pics/logo.jfif" height="64px">
      <span *ngIf="isLogin">欢迎您,{{username}}</span>
    </li>
    <mat-tree class="tree" [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="20">
        <a class="nodetext" routerLink="{{node.url}}">{{node.name}}</a>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <span class="parent" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">{{node.name}}</span>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon>
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
      </mat-tree-node>
    </mat-tree>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-button class="app-menu-button" (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <span class="title"></span>
      <button *ngIf="!isLogin" mat-flat-button [routerLink]="['/login']"
        routerLinkActive="router-link-active">登录</button>
      <button *ngIf="isLogin" mat-flat-button (click)="logout();">注销</button>
    </mat-toolbar>
    <!-- <div class="breadcrumb"><span style="vertical-align: -webkit-baseline-middle;">主页 </span></div> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet *ngIf="!isLogin"></router-outlet>