<h1>
    数据权限设置：{{dialogData._links.self.href.split('/').splice(-1)}}
</h1>
<mat-dialog-content style="height: 300px;">
    <mat-form-field class="example-chip-list">
        <mat-label></mat-label>
        <mat-chip-list #chipList aria-label="选择用户">
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="输入用户名"
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits " [value]="fruit">
            {{fruit.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close cdkFocusInitial mat-flat-button color="primary">关闭</button>
</mat-dialog-actions>