

table td,table th{
    padding:5px;
    text-align: center;
}

button{
    margin: 5px;
}
div{
    margin: 10px;
    height: 80%;
}

.table-responsive {
    display: block;
    overflow-x: auto;
    
  }
  table{
      width: 100%;
  }